.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

img {
    width: 20vw;
}

@media screen and (max-width: 844px){
    img {
        width: 180px;
        margin-top: 10px;
    }
}