@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.container-search {
    display: flex;
    width: 50vw;
    transition: all ease 1.5s;
    animation: slideY 1.5s;
}

.search-component{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 62px;
    border: 1px solid #CDE0F5;
    border-radius: 15px 0 0 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

input {
    width: 85%;
    height: 90%;
    padding-left: 10px;
    border: none;
    color: #A79A9A;
    font-size: 16px;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0);
    outline: 0;
}


@media screen and (max-width: 440px) {

    .container-search {
        flex-direction: column;
        width: 100%;
    }

    .search-component {
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
        border-radius: 15px;
        width: 100%;
    }

    input {
        font-size: 14px;
        display: flex;
        width: 80%;
    }
}