.cabecalho {
    text-align: end;
    margin: 30px 0;
}

.radio-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    align-items: center;
}

.radio-wrapper input {
    width: 20px;
}

.info-wrapper {
    margin: 30px 0;
    text-align: justify;
}

.form-inline {
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 3px;
}

.form-inline label {
    width: 100%;
}

label {
    text-align: center;
    font-weight: bold;
}

.required {
    border: 1px solid #c81c1c;
    color: #c81c1c;
}

.input-attachment-wrapper input[type="file"] {
    display: flex;
}

.sucess {
    color: green;
    margin: 15px 0;
}

.form-inline-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

#periodo {
    width: 90px;
    margin: 15px 0;
}

@media screen and (max-width: 440px) {
    .cabecalho {
        width: 100%;
        padding-right: 15px;
    }

    .cabecalho h2 {
        text-align: center;
    }

    .form-inline {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .form-wrapper {
        width: 100%;
    }

    .center {
        margin: 0;
    }

}