form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    transition: all ease 1.5s;
    animation: slideY 1.5s;
}
.input-form {
    border: 1px solid #1C88C8;
    border-radius: 15px;
    background-color: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    margin-top: 3px;
}

.input-form:focus, #input-form-button:focus {
    border: 2px solid #1C88C8;
}

input[type='file'] {
    display: none;
}

#input-form-button {
    border: 1px solid #1C88C8;
    background-color: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    margin-top: 3px;
    border-radius: 15px;
    cursor: text;
}

.link-animation {
    transition: all ease 1.5s;
    animation: slideY 1.5s;
}

@keyframes slideY{
    from{
        transform: translateY(90px);
    }to{
        transform: translateY(0);
    }
}

@media screen and (max-width: 440px) {


    form {
        width: 95%;
    }

    .input-form {
        width: 100%;
    }

    #input-form-button {
        width: 100%;
    }

    .link-spam {
        width: 100%;
    }

}

